<section id="home">
  <header class="header">
    <nav>
      <div class="nav__header">
        <div data-aos="fade-right" class="nav__logo">
          <a href="/"><img src="https://marqex.webapi.marqexmarine.com/Images/{{layoutModel.image}}" alt=""></a>
        </div>
        <div class="nav__menu__btn">
          <a class="menu-toggle" id="menuToggle">
            <svg viewBox="0 0 12 10" class="hamburger" height="25px" width="25px">
              <path d="M10,2 L2,2" class="bar-1"></path>
              <path d="M3,5 L10,5" class="bar-2"></path>
              <path d="M10,8 L4,8" class="bar-3"></path>
            </svg>
          </a>
        </div>

      </div>
      <ul class="nav__links " id="nav-links">
        <li data-aos="fade-down">
          <a href="/portfolio">Portfolio</a>
        </li>
        <li data-aos="fade-down"><a href="/about">About Us</a></li>
        <li data-aos="fade-down"><a href="/contact">Contact</a></li>
        <a data-aos="fade-down" class="menu-toggle" id="menuToggle2">
          <svg viewBox="0 0 12 10" class="hamburger" height="25px" width="25px">
            <path d="M10,2 L2,2" class="bar-1"></path>
            <path d="M3,5 L10,5" class="bar-2"></path>
            <path d="M10,8 L4,8" class="bar-3"></path>
          </svg>
        </a>
      </ul>
    </nav>

    <section class="section__container">
      <div class="container">
        @if (isScreenSizeUnder768px) {

        <div class="contactInfo">
          <div>

            <h2>Contact Info</h2>
            <ul class="info">
              <li>
                <span><i class='bx bxs-location-plus'></i></span>
                <span>
                  {{contactModel.address}}
                </span>
              </li>
              <li>
                <span><i class='bx bxs-envelope'></i></span>
                <span>
                  {{contactModel.email}}
                </span>
              </li>
              <li>
                <span><i class='bx bxs-phone'></i></span>
                <span>
                  {{contactModel.phoneNumber}}
                </span>
              </li>
            </ul>
          </div>
          <ul class="sci">
            <li><a href=""><i class="ri-facebook-fill"></i></a></li>
            <li><a href=""><i class="ri-twitter-fill"></i></a></li>
            <li><a href=""><i class="ri-instagram-fill"></i></a></li>
            <li><a href=""><i class="ri-linkedin-fill"></i></a></li>
          </ul>
        </div>

        <div class="contactForm">
          <h2>Send Message</h2>
          <div class="formBox">
            <div class="inputBox w50">
              <input [(ngModel)]="messageModel.fullName" type="text" required>
              <span>Name Surname</span>
            </div>
            <div class="inputBox w50">
              <input [(ngModel)]="messageModel.companyName" type="text" required>
              <span>Company</span>
            </div>
            <div class="inputBox w50">
              <input [(ngModel)]="messageModel.phone" type="text" required>
              <span>Phone Number</span>
            </div>
            <div class="inputBox w50">
              <input [(ngModel)]="messageModel.email" type="text" required>
              <span>Email</span>
            </div>
            <div class="inputBox w50">
              <input [(ngModel)]="messageModel.subject" type="text" required>
              <span>Subject</span>
            </div>
            <div class="inputBox w100">
              <textarea [(ngModel)]="messageModel.message" name="" id="" required></textarea>
              <span>Write your message</span>
            </div>
            <div class="inputBox w100">
              <input (click)="createMessage()" type="submit" value="Send">
            </div>
          </div>
        </div>
        }@else {
        <div data-aos="fade-right" class="contactInfo">
          <div>
            <h2>Contact Info</h2>
            <ul class="info">
              <li>
                <span><i class='bx bxs-location-plus'></i></span>
                <span>
                  {{contactModel.address}}
                </span>
              </li>
              <li>
                <span><i class='bx bxs-envelope'></i></span>
                <span>
                  {{contactModel.email}}
                </span>
              </li>
              <li>
                <span><i class='bx bxs-phone'></i></span>
                <span>
                  {{contactModel.phoneNumber}}
                </span>
              </li>
            </ul>
          </div>
          <ul class="sci">
            @for (link of links; track link) {
            <li>
              <a href="{{link.linkUrl}}" target="_blank">
                <i class="ri-{{link.linkIcon}}-fill"></i>
                <i *ngIf="link.linkIcon === '' || link.linkIcon === null" class="ri-link-m"></i>
              </a>
            </li>
            }
          </ul>
        </div>

        <div data-aos="fade-left" class="contactForm">
          <h2>Send Message</h2>
          <div class="formBox">
            <div class="inputBox w50">
              <input [(ngModel)]="messageModel.fullName" type="text" required>
              <span>Name Surname</span>
            </div>
            <div class="inputBox w50">
              <input [(ngModel)]="messageModel.companyName" type="text" required>
              <span>Company</span>
            </div>
            <div class="inputBox w50">
              <input [(ngModel)]="messageModel.phone" type="text" required>
              <span>Phone Number</span>
            </div>
            <div class="inputBox w50">
              <input [(ngModel)]="messageModel.email" type="text" required>
              <span>Email</span>
            </div>
            <div class="inputBox w50">
              <input [(ngModel)]="messageModel.subject" type="text" required>
              <span>Subject</span>
            </div>
            <div class="inputBox w100">
              <textarea [(ngModel)]="messageModel.message" name="" id="" required></textarea>
              <span>Write your message</span>
            </div>
            <div class="inputBox w100">
              <input (click)="createMessage()" type="submit" value="Send">
            </div>
          </div>
        </div>
        }
      </div>
    </section>
  </header>
</section>

<section class="fullpage-menu">
  <div class="fullpage-menu-inner">
    <div class="menu-bg">
      <span style="background: #1a2b3c;" class="span1"></span>
      <span class="span2"></span>
      <span class="span2"></span>
    </div>

    <div class="btn2" id="toggle-btn">
      <a style="font-size: 36px;" data-aos="fade-down" class="menu-toggle" id="menuToggle3">
        <svg viewBox="0 0 12 10" class="hamburger" height="35px" width="35px">
          <path d="M10,2 L2,2" class="bar-1"></path>
          <path d="M3,5 L10,5" class="bar-2"></path>
          <path d="M10,8 L4,8" class="bar-3"></path>
        </svg>
      </a>
    </div>

    <div data-aos="fade-right" class="nav__logo menu-logo">
      <h1><a href="/"><img src="https://marqex.webapi.marqexmarine.com/Images/{{layoutModel.image}}" alt=""></a></h1>

    </div>

    <div class="nav-element">
      <ul>
        <li class="submenu-item">
          <h1 style="display: flex; gap: 25px;">
            <a class="btn-2" style="color: #fff;" href="/portfolio">Portfolio</a>
            <div class="arrowed-2 ">
              <div class="arrow-4-1"></div>
            </div>
          </h1>
        </li>
        <li class="submenu-item">
          <h1><a style="color: #fff;" href="/about">About Us</a></h1>
        </li>
        <li class="submenu-item">
          <h1><a style="color: #fff;" href="/contact">Contact</a></h1>
        </li>
      </ul>
    </div>

    <div class="nav-element-2">
      <div class="drop-menu" id="dropright">
        <div class="hover-link">
          <div class="arrowed">
            <div class="arrow-4"></div>
          </div>
          <a href="#">Link 1</a>
        </div>
        <div class="hover-link">
          <div class="arrowed">
            <div class="arrow-4"></div>
          </div>
          <a href="#">Link 2</a>
        </div>
        <div class="hover-link">
          <div class="arrowed">
            <div class="arrow-4"></div>
          </div>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
    <div class="header-nav-footer">
      <ul class="social-links">
        <li><a href="#"><i class="ri-facebook-fill"></i></a></li>
        <li><a href="#"><i class="ri-twitter-fill"></i></a></li>
        <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
        <li><a href="#"><i class="ri-instagram-line"></i></a></li>
        <li>&copy; 2024</li>
      </ul>
    </div>
  </div>
</section>