.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("/assets/yacht-4.jpg");
}

.container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    border-radius: 20px;
}

.container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #1c75d2;
    /* background: linear-gradient(-110deg, #f0c390 10%, rgba(255, 235, 212, 0.9), rgba(54, 122, 190, 0.9) 30%); */
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.container .contactInfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}

.container .contactInfo ul.info {
    position: relative;
    margin: 20px 0;
}

.container .contactInfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.container .contactInfo ul.info li span:nth-child(1) i {
    font-size: 30px;
    color: #be7e06;
}

.container .contactInfo ul.info li span:nth-child(2) {
    color: #e1f5fe;
    font-family: Poppins;
    margin-left: 10px;
    font-weight: 400;
}

.container .contactInfo ul.sci {
    position: relative !important;
    display: flex;
    margin-top: 120px;
}

.container .contactInfo ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.container .contactInfo ul.sci li a {
    text-decoration: none;
}

.container .contactInfo ul.sci li a i {
    font-size: 30px;
    color: #000000;
    transition: 0.7s;
}

.container .contactInfo ul.sci li a i:hover {
    color: #f0c390;
}

.container .contactForm {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    /* background: #faf7ee; */
    box-shadow: 0px 40px 40px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.container .contactForm h2 {
    color: #f0c390;
    font-size: 34px;
    font-weight: 500;
}

.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox {
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #b4b4b4;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #e1f5fe;
}

.container .contactForm .formBox .inputBox textarea {
    height: 120px;
}

.container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    color: #fff;
    pointer-events: none;
    font-size: 20px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactForm .formBox .inputBox input:focus~span,
.container .contactForm .formBox .inputBox input:valid~span,
.container .contactForm .formBox .inputBox textarea:focus~span,
.container .contactForm .formBox .inputBox textarea:valid~span {
    transform: translateY(-25px);
    font-size: 16px;
    letter-spacing: 1px;
    color: #f7d6ae;
}

.container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #f0c390;
    color: #1c75d2;
    border: none;
    font-size: 20px;
    font-weight: 600;
    max-width: 150px;
    padding: 12px;
    border-radius: 20px;
    transition: 0.5s;
}

.container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #1c75d2;
    color: #f0c390;
}



@media (max-width: 768px) {
    .container {
        display: flex;
        width: 88% !important;
        /* height: 800px; */
        flex-direction: column-reverse;
    }

    .container .contactInfo {
        width: 100% !important;
        height: 300px !important;
        border-radius: 0px 0px 20px 20px !important;
        flex-direction: row;

    }

    .container .contactForm {
        width: 100% !important;
        height: 480px !important;
    }

    .container .contactInfo ul.sci {
        margin-top: 0px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
        min-width: auto;
        /* margin-left: 50px !important; */
        margin: 20px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    }

    .container .contactInfo {
        top: 0 !important;
        height: 550px;
        position: relative !important;
        box-shadow: none;
        border-radius: 20px 0 0 20px;
    }

    .container .contactForm {
        position: relative;
        width: calc(100% - 250px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
}

@media (max-width: 500px) {
    .container {
        margin: auto;
    }

    .container .contactForm {
        height: 380px !important;
        padding: 10px !important;
    }

    .container .contactInfo {
        padding: 25px;
        height: 280px !important;
        flex-direction: column;
        align-items: flex-start;
    }

    .container .contactForm .formBox .inputBox span {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
    }

    .container .contactForm .formBox .inputBox textarea {
        height: 70px;
    }

    .container .contactForm .formBox .inputBox input[type="submit"] {
        font-size: 16px;
        font-weight: 600;
        max-width: 90px;
        padding: 5px;
        border-radius: 20px;
    }

    .container .contactForm .formBox .inputBox.w100 {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .container .contactForm .formBox .inputBox {
        margin-bottom: 20px;
    }

    .container .contactForm .formBox {
        padding-top: 20px;
    }

    .container .contactForm .formBox .inputBox input:focus~span,
    .container .contactForm .formBox .inputBox input:valid~span,
    .container .contactForm .formBox .inputBox textarea:focus~span,
    .container .contactForm .formBox .inputBox textarea:valid~span {
        transform: translateY(-25px);
        font-size: 12px;
        letter-spacing: 1px;
        color: #f7d6ae;
    }

    .container .contactForm .formBox .inputBox input,
    .container .contactForm .formBox .inputBox textarea {
        font-size: 14px;
        font-weight: 300;
    }

    .container .contactForm h2 {
        color: #f0c390;
        font-size: 24px;
        font-weight: 500;
    }

    .container .contactForm .formBox .inputBox.w50 {
        width: 100%;
    }

    .container .contactInfo h2 {
        font-size: 24px;
        font-weight: 500;
    }
    
    .container .contactInfo ul.info {
        margin: 10px 0;
    }
    
    .container .contactInfo ul.info li {
        margin: 12px 0;
    }
    
    .container .contactInfo ul.info li span:nth-child(1) {
        width: 20px;
        min-width: 20px;
    }
    
    .container .contactInfo ul.info li span:nth-child(1) i {
        font-size: 25px;
    }
    
    .container .contactInfo ul.info li span:nth-child(2) {
        margin-left: 10px;
        font-weight: 300;
        font-size: 14px;
    }
    
    .container .contactInfo ul.sci {
        width: 100%;
        margin-top: 30px;
    }
}