<section class="section__container" id="portfolio">
    @for (portfolio of portfolios; track portfolio) {
    <div class="row">
        <div class="contentWrapper">
            <div data-aos="fade-right" class="line"></div>
            <div class="content">
                <span data-aos="fade-down" class="textWrapper">
                    <h2>{{portfolio.title}}</h2>
                </span>
                <div class="image-text">
                    <div data-aos="zoom-in" class="imgWrapper">
                        <img src="https://marqex.webapi.marqexmarine.com/Images/{{portfolio.image}}"
                            alt="">
                    </div>
                    <div data-aos="zoom-in" class="text-button">
                        <p>
                            {{portfolio.description}}
                            <!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vitae, corrupti dolorem
                            voluptate aut ipsa iste explicabo velit expedita quia atque accusamus asperiores enim
                            repellendus ab praesentium temporibus eveniet exercitationem? -->
                        </p>
                        <button (click)="routerClick(portfolio.id!)" class="show-more">
                            <span class="circle">
                                <span class="icon arrow"></span>
                                <span class="text">Read More...</span>
                            </span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</section>