<!-- <section id="home">
    <header class="header">
        <nav>
            <div class="nav__header">
                <div data-aos="fade-right" data-aos-once="true" class="nav__logo">
                    <a (click)="navigateOpen();" routerLink="/">MAR<span>TEQ</span></a>
                </div>
                <div class="nav__menu__btn" id="menu-btn">
                    <span (click)="toggleMenu()"><i class="ri-menu-line"></i></span>
                </div>
            </div>
            <ul class="nav__links " id="nav-links">
                <li data-aos="fade-down"><a routerLink="/portfolio">Portfolio</a></li>
                <li data-aos="fade-down"><a href="/about">About Us</a></li>
                <li data-aos="fade-down"><a routerLink="/contact">Contact</a></li>
            </ul>

        </nav>
        <div class="section__container header__container" id="home">
            <p data-aos="fade-up" data-aos-offset="300">About Us</p>
            <h1 data-aos="fade-down">Slogan Buraya Yazılacak</h1>
            <div class="header__flex">
                <div data-aos="fade-up" class="mouse_scroll">

                    <div class="mouse">
                        <div class="wheel"></div>
                    </div>
                    <div>
                        <span class="m_scroll_arrows unu"></span>
                        <span class="m_scroll_arrows doi"></span>
                        <span class="m_scroll_arrows trei"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section> -->

<section class="section__container about__container" id="about">
    <div class="about__header">
        <div>
            <h3 class="section__subheader reveal-bottom-1">Time Matters Most</h3>
            <h1 class="section__header reveal-bottom-2">
                Past - Present - Future
            </h1>
        </div>
        <p data-aos="fade" class="section__description about__p">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat
            autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum
            quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit
            temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error
            dignissimos omnis.

            <br>
            <br>

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat
            autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum
            quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit
            temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error
            dignissimos omnis.

            <br>
            <br>

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat
            autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum
            quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit
            temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error
            dignissimos omnis.
        </p>
    </div>
</section>

<section class="section__container client__container" id="client">
    <!-- <h3 class="section__subheader">Testimonials</h3> -->
    <div style="margin-top: -70px;" class="about__header">
        <div>
            <h3 class="section__subheader">Gallery</h3>
        </div>
    </div>
    <!-- Slider main container -->
    <div data-aos="flip-left" class="swiper">
        <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
            thumbs-swiper=".mySwiper2" loop="true" space-between="10" navigation="true" mousewheel="true"
            autoplay-delay="3500" autoplay-disable-on-interaction="false">
            <swiper-slide>
                <img src="https://i.pinimg.com/736x/94/8b/5d/948b5d9a67b80237b231517d79df7fb0.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://c4.wallpaperflare.com/wallpaper/863/684/864/sea-beach-islands-landscape-wallpaper-preview.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://w0.peakpx.com/wallpaper/983/660/HD-wallpaper-superyacht-super-yacht-boats.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
            </swiper-slide>
        </swiper-container>

        <swiper-container class="mySwiper2" loop="true" space-between="10" slides-per-view="4" free-mode="true"
            watch-slides-progress="true">
            <swiper-slide>
                <img src="https://i.pinimg.com/736x/94/8b/5d/948b5d9a67b80237b231517d79df7fb0.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://c4.wallpaperflare.com/wallpaper/863/684/864/sea-beach-islands-landscape-wallpaper-preview.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://w0.peakpx.com/wallpaper/983/660/HD-wallpaper-superyacht-super-yacht-boats.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
            </swiper-slide>
        </swiper-container>


    </div>
</section>

<!-- <section id="footer">
    <footer>
        <div class="section__container footer__container">
            <div class="footer__col">
                <h4>About Us</h4>
                <p>
                    Founded on the principles of integrity and a vision for advancing
                    industrial solutions, we have evolved into a trusted partner for
                    businesses seeking cutting-edge products and unparalleled support.
                </p>
                <button class="btn">Contact Us</button>
            </div>
            <div class="footer__col">
                <h4>Quick Links</h4>
                <ul class="footer__links">
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <h4>Social Media</h4>

                <div class="footer__socials">
                    <a href="#"><i class="ri-facebook-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                    <a href="#"><i class="ri-linkedin-fill"></i></a>
                    <a href="#"><i class="ri-instagram-line"></i></a>
                </div>
            </div>
        </div>
        <div class="footer__bar">
            Copyright © 2024 Marteq. All rights reserved.
        </div>
    </footer>
</section> -->