<!-- <section id="home">
    <header class="header">
        <nav>
            <div class="nav__header">
                <div data-aos="fade-right" data-aos-once="true" class="nav__logo">
                    <a (click)="navigateOpen();" routerLink="/">MAR<span>TEQ</span></a>
                </div>
                <div class="nav__menu__btn" id="menu-btn">
                    <span (click)="toggleMenu()"><i class="ri-menu-line"></i></span>
                </div>
            </div>
            <ul class="nav__links " id="nav-links">
                <li data-aos="fade-down"><a routerLink="/portfolio">Portfolio</a></li>
                <li data-aos="fade-down"><a href="/about">About Us</a></li>
                <li data-aos="fade-down"><a routerLink="/contact">Contact</a></li>
            </ul>

        </nav>
        <div class="section__container header__container" id="home">
            <p data-aos="fade-up" data-aos-offset="300">About Us</p>
            <h1 data-aos="fade-down">Slogan Buraya Yazılacak</h1>
            <div class="header__flex">
                <div data-aos="fade-up" class="mouse_scroll">

                    <div class="mouse">
                        <div class="wheel"></div>
                    </div>
                    <div>
                        <span class="m_scroll_arrows unu"></span>
                        <span class="m_scroll_arrows doi"></span>
                        <span class="m_scroll_arrows trei"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section> -->

<section class="about__section" id="about">
    <div class="about__header">
        <!-- <div>
            <h3 class="section__subheader reveal-bottom-1">Time Matters Most</h3>
            <h1 class="section__header reveal-bottom-2">
                Past - Present - Future
            </h1>
        </div> -->
        <p data-aos="fade" class="section__description about__p">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat
            autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum
            quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit
            temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error
            dignissimos omnis.

            <br>
            <br>

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat
            autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum
            quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit
            temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error
            dignissimos omnis.
        </p>

        <div class=" full-width-image">
            <img src="/assets/about-middle-2.jpg" alt="">
        </div>

        <p data-aos="fade" class="section__description about__p">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat
            autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum
            quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit
            temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error
            dignissimos omnis.

            <br>
            <br>

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat
            autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum
            quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit
            temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error
            dignissimos omnis.
        </p>
    </div>
</section>