<section id="home">
  <header [ngStyle]="{'background-image': backgroundImage}" class="header">
    <nav>
      <div class="nav__header">
        <div data-aos="fade-right" class="nav__logo">
          <!-- <a href="/">MAR<span>QEX</span></a> -->
          <a href="/"><img src="https://marqex.webapi.marqexmarine.com/Images/{{layoutModel.image}}" alt=""></a>
          <!-- <a href="/"><img src="/assets\logo-png-white.png" alt=""></a> -->
          <!-- <img src="/assets\logo2-converted-sharped.png" alt=""> -->

        </div>
        <div class="nav__menu__btn">
          <a class="menu-toggle" id="menuToggle">
            <svg viewBox="0 0 12 10" class="hamburger" height="25px" width="25px">
              <path d="M10,2 L2,2" class="bar-1"></path>
              <path d="M3,5 L10,5" class="bar-2"></path>
              <path d="M10,8 L4,8" class="bar-3"></path>
            </svg>
          </a>
        </div>
      </div>
      <ul class="nav__links " id="nav-links">
        <li data-aos="fade-down">
          <a href="/portfolio">Portfolio</a>
        </li>
        <li data-aos="fade-down"><a href="/about">About Us</a></li>
        <li data-aos="fade-down"><a href="/contact">Contact</a></li>
        <a data-aos="fade-down" class="menu-toggle" id="menuToggle2">
          <svg viewBox="0 0 12 10" class="hamburger" height="25px" width="25px">
            <path d="M10,2 L2,2" class="bar-1"></path>
            <path d="M3,5 L10,5" class="bar-2"></path>
            <path d="M10,8 L4,8" class="bar-3"></path>
          </svg>
        </a>
      </ul>
    </nav>
    <div class="section__container header__container" id="home">
      <!-- <p data-aos="fade-up">{{title}}</p> -->
      <p style="font-size: 48px; margin-top: 350px;" data-aos="fade-down">{{title}}</p>
      <div class="header__flex">
      </div>
    </div>
  </header>
</section>

<router-outlet></router-outlet>

<section id="footer">
  <footer>
    <div class="section__container footer__container">
      <div class="footer__col">
        <h4>About Us</h4>
        <p>
          {{layoutModel.shortAboutText}}
        </p>

      </div>
      <div class="footer__col">
        <h4>Social Media</h4>
        <div class="footer__socials">
          @for (link of links; track link) {
            <a href="{{link.linkUrl}}" target="_blank">
              <i class="ri-{{link.linkIcon}}-fill"></i>
              <i *ngIf="link.linkIcon === '' || link.linkIcon === null" class="ri-link-m"></i>
            </a>
          }
        </div>
      </div>
      <div class="footer__col">
        <button routerLink="/contact" class="btn">Contact Us</button>
      </div>
    </div>
    <div class="footer__bar">
      Copyright © 2024 Marqex. All rights reserved.
    </div>
  </footer>
</section>

<section class="fullpage-menu">
  <div class="fullpage-menu-inner">
    <div class="menu-bg">
      <span style="background: #1a2b3c;" class="span1"></span>
      <span class="span2"></span>
      <span class="span2"></span>
    </div>

    <div class="btn2" id="toggle-btn">
      <a style="font-size: 36px;" data-aos="fade-down" class="menu-toggle" id="menuToggle3">
        <svg viewBox="0 0 12 10" class="hamburger" height="35px" width="35px">
          <path d="M10,2 L2,2" class="bar-1"></path>
          <path d="M3,5 L10,5" class="bar-2"></path>
          <path d="M10,8 L4,8" class="bar-3"></path>
        </svg>
      </a>
    </div>

    <div data-aos="fade-right" class="nav__logo menu-logo">
      <!-- <h1><a href="/">MAR<span>QEX</span></a></h1> -->
      <!-- <h1><a href="/"><img src="/assets\logo2-converted-sharped-transparent-2.png" alt=""></a></h1> -->
      <h1><a href="/"><img src="https://marqex.webapi.marqexmarine.com/Images/{{layoutModel.image}}" alt=""></a></h1>
    </div>
    
    <div class="nav-element">
      <ul>
        <li class="submenu-item">
          <h1 style="display: flex; gap: 25px;">
            <a class="btn-2" style="color: #fff;" href="/portfolio">Portfolio</a>
            <div class="arrowed-2 ">
              <div class="arrow-4-1"></div>
            </div>
          </h1>
        </li>
        <li class="submenu-item">
          <h1><a style="color: #fff;" href="/about">About Us</a></h1>
        </li>
        <li class="submenu-item">
          <h1><a style="color: #fff;" href="/contact">Contact</a></h1>
        </li>
      </ul>
    </div>

    <div class="nav-element-2">
      <div class="drop-menu" id="dropright">
        <div class="hover-link">
          <div class="arrowed">
            <div class="arrow-4"></div>
          </div>
          <a href="#">Link 1</a>
        </div>
        <div class="hover-link">
          <div class="arrowed">
            <div class="arrow-4"></div>
          </div>
          <a href="#">Link 2</a>
        </div>
        <div class="hover-link">
          <div class="arrowed">
            <div class="arrow-4"></div>
          </div>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
    <div class="header-nav-footer">
      <ul class="social-links">
        <!-- @for (link of links; track link) {
          <li>
            <a href="{{link.linkUrl}}" target="_blank">
              <i class="ri-{{link.linkIcon}}-fill"></i>
              <i *ngIf="link.linkIcon === '' || link.linkIcon === null" class="ri-link-m"></i>
            </a>
          </li>
          } -->
        <li><a href="#"><i class="ri-facebook-fill"></i></a></li>
        <li><a href="#"><i class="ri-twitter-fill"></i></a></li>
        <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
        <li><a href="#"><i class="ri-instagram-line"></i></a></li>
        <li>&copy; 2024</li>
      </ul>
    </div>
  </div>
</section>