<header class="header">
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#">MAR<span>TEQ</span></a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <span (click)="toggleMenu()"><i class="ri-menu-line"></i></span>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="#home">Portfolio</a></li>
        <li><a href="#article">Services</a></li>
        <li><a href="#about">About</a></li>
        <!-- <li><a href="#client">Bulletin</a></li>
        <li><a href="#contact">Contact</a></li> -->
      </ul>
      <!-- <div class="nav__btns">
        <button class="btn">Get A Quote</button>
      </div> -->
    </nav>
    <div class="section__container header__container" id="home">
      <p>MARTEQ</p>
      <h1>Slogan Buraya Yazılacak</h1>
      <div class="header__flex">
        <!-- <div class="header__card">
          <span><i class="ri-store-2-fill"></i></span>
          <div>
            <h5>Consectetur</h5>
            <h4>Production</h4>
          </div>
        </div>
        <div class="header__card">
          <span><i class="ri-building-fill"></i></span>
          <div>
            <h5>Consectetur</h5>
            <h4>Industrial</h4>
          </div>
        </div>
        <div class="header__card">
          <span><i class="ri-stackshare-line"></i></span>
          <div>
            <h5>Consectetur</h5>
            <h4>Construction</h4>
          </div>
        </div> -->
        <!-- <a class="link" href="#">
            <span class="link__arrow">
              <span></span>
              <span></span>
            </span>
            <span class="link__line"></span>
            <span class="link__text"></span>
        </a> -->

        <div class="mouse_scroll">

            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
            </div>
    </div>
      </div>
    </div>
  </header>
  <img src="/" alt="">
<router-outlet></router-outlet>