.show-all{
    position: relative;
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.show-all a{
    width: 250px;
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #ff88005e;
    /* background: linear-gradient(90deg, #00606f 50%, transparent 50%); */
    background-size: 200% 100%;
    background-position: right bottom;
    color: #c8a379;
    padding: 15px 40px;
    gap: 35px;
    user-select: none;
    transition: background-position 0.5s ease;
    border-radius: 20px;
}

.arrow-90 {
    position: relative;
    top: 50%;
    left: 0px;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.arrow-90  span {
    display: block;
    width: 10px; /* Boyutu sabitledik */
    height: 10px;
    border-bottom: 3px solid #003366;
    border-right: 3px solid #003366;
    transform: rotate(45deg);
    margin: -2px;
    /* animation: animate-rotate 2s infinite; */
}

.show-all a:hover .arrow-90 span {
    /* animation: animate 2s infinite; */
    animation: animate-rotate 2s infinite;
}

.arrow-90 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow-90 span:nth-child(3) {
    animation-delay: -0.4s;
}


.arrow-270 {
    position: relative;
    top: 50%;
    left: 0px;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    cursor: pointer;
}

.arrow-270  span {
    display: block;
    width: 10px; /* Boyutu sabitledik */
    height: 10px;
    border-bottom: 3px solid #003366;
    border-right: 3px solid #003366;
    transform: rotate(45deg);
    margin: -2px;
    /* animation: animate-rotate 2s infinite; */
}

.show-all a:hover .arrow-270 span {
    animation: animate-rotate 2s infinite;
}

.arrow-270 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow-270 span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate-rotate{
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: blur(5px); */
    /* backdrop-filter: blur(50px); */
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

swiper-container {
    width: 100%;
    height: 300px !important;
    margin-left: auto;
    margin-right: auto;
}

swiper-slide {
    background-size: cover;
    background-position: center;
}