<section class="section__container about__container" id="about">
    <div class="about__header">
      <div>
        <h3 class="section__subheader">Time Matters Most</h3>
        <h1 class="section__header">
          Past - Present - Future
        </h1>
      </div>
      <p class="section__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error dignissimos omnis.
      </p>
    </div>
    <hr class="style-seven">
    <!-- <div class="about__grid">
      <div class="about__card">
        <p>FITTING</p>
        <h4>The arrival of the fitting</h4>
      </div>
      <div class="about__card">
        <p>FACTORY</p>
        <h4>Factory business wonder</h4>
      </div>
      <div class="about__card">
        <p>QUALITY</p>
        <h4>We stand slow in quality</h4>
      </div>
    </div> -->
</section>

<section class="section__container about__container">
    <div style="margin-top: -70px;" class="about__header">
        <div>
          <h3 class="section__subheader">Services</h3>
        </div>
      </div>

    <div id="card-area">
		<div class="wrapper">
			<div class="box-area">
				<div class="box">
					<img alt="" src="/assets/article-1.jpg">
					<div class="overlay">
						<h3>Mountaineering</h3>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea nam. Quod.</p><a href="#">Book Now</a>
					</div>
				</div>
				<div class="box">
					<img alt="" src="/assets/article-2.jpg">
					<div class="overlay">
						<h3>Scuba Diving</h3>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea nam. Quod.</p><a href="#">Book Now</a>
					</div>
				</div>
				<div class="box">
					<img alt="" src="/assets/article-3.jpg">
					<div class="overlay">
						<h3>Travel World</h3>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque modi explicabo libero ea nam. Quod.</p><a href="#">Book Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    <hr class="style-seven">
</section>
