
.row {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-gap: 50px; */
    gap: 15px;
    overflow-x: hidden;
    padding: 5rem 0;
}

.row .imgWrapper {
    overflow: hidden;
}

.row .imgWrapper img {
    max-width: 640px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: 0.3s;
}

.row .imgWrapper:hover img {
    transform: scale(1.25);
}

.row .contentWrapper {
    width: 200px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-left: 30px;
}

/* .content{
    display: flex;
    flex-direction: row;
    max-width: 200px;
    width: 200px;
} */

.row .contentWrapper span.textWrapper {
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.line {
    width: 3px;
    height: 500px;
    background-color: #00606f;
}

.row .contentWrapper span.textWrapper span {
    display: inline-block;
    background: #0251ac;
    width: 70px;
    height: 5px;

}

.row .contentWrapper h2 {
    font-size: 48px;
    font-weight: 300;
    color: #c8a379;
    line-height: 1.1;
    letter-spacing: 0;
    padding-bottom: 20px;
    text-align: left;

}

.row .contentWrapper p {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
    letter-spacing: 1px;
}

.row .contentWrapper a {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(90deg, #00606f 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #c8a379;
    padding: 15px 40px;
    gap: 15px;
    user-select: none;
    transition: background-position 0.5s ease;
}

/* .row .contentWrapper a:hover {
    background-position: left bottom;
} */

@media (max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .row .contentWrapper {
        padding-left: 0px;
    }

    .row .contentWrapper span.textWrapper {
        justify-content: center;
        align-items: center;
    }
    .line {
        width: 5px;
        height: 500px;
        background-color: #000;
    }
}

@media (max-width: 540px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row .contentWrapper h2 {
        font-size: 30px;
        /* padding-bottom: 20px; */
    }

    .row .contentWrapper p {
        font-size: 12px;
        line-height: 24px;
    }

    .row .contentWrapper span.textWrapper {
        font-size: 12px;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    .row .imgWrapper{
        margin-top: -250px;
    }

    .row .imgWrapper img {
        height: 400px;
    }

    .line {
        margin-top: -270px;
        width: 3px;
        /* height: 600px; */
        rotate: 90deg;
        background-color: #000;
    }
}

.show-all {
    position: relative;
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.show-all a {
    width: 250px;
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #ff88005e;
    background-size: 200% 100%;
    background-position: right bottom;
    color: #c8a379;
    padding: 15px 40px;
    gap: 35px;
    user-select: none;
    transition: background-position 0.5s ease;
    border-radius: 20px;
}

/* .arrow-90 {
    position: relative;
    top: 50%;
    left: 0px;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.arrow-90 span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #003366;
    border-right: 3px solid #003366;
    transform: rotate(45deg);
    margin: -2px;
}

.show-all a:hover .arrow-90 span {
    animation: animate-rotate 2s infinite;
}

.arrow-90 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow-90 span:nth-child(3) {
    animation-delay: -0.4s;
}


.arrow-270 {
    position: relative;
    top: 50%;
    left: 0px;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    cursor: pointer;
}

.arrow-270 span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #003366;
    border-right: 3px solid #003366;
    transform: rotate(45deg);
    margin: -2px;
}

.show-all a:hover .arrow-270 span {
    animation: animate-rotate 2s infinite;
}

.arrow-270 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow-270 span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate-rotate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

swiper-container {
    width: 100%;
    height: 300px !important;
    margin-left: auto;
    margin-right: auto;
}

swiper-slide {
    background-size: cover;
    background-position: center;
} */