<section class="about__section" id="about">
    <div class="about__header">
        <p style="text-align: justify;" data-aos="fade" class="section__description about__p">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat
            autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum
            quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit
            temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error
            dignissimos omnis.

            <br>
            <br>

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat
            autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum
            quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit
            temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error
            dignissimos omnis.
        </p>
        <p style="text-align: justify;" data-aos="fade" class="section__description about__p">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat
            autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum
            quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit
            temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error
            dignissimos omnis.

            <br>
            <br>

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis omnis facere quidem laboriosam, placeat
            autem veritatis aliquid est! Sit nemo suscipit excepturi et nulla similique eum eius repudiandae sint neque.

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio vero repellat nemo atque ipsam laborum
            quos natus, eius, iure quae reprehenderit similique in possimus veritatis ullam modi earum error asperiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, voluptates? Animi, est praesentium suscipit
            temporibus unde quis, architecto modi quae dolores distinctio repudiandae non nobis rem dolor error
            dignissimos omnis.
        </p>
    </div>
</section>